// Place all the styles related to the records controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.higher {
	font-family: "BellBottom.Laser";
	color: purple;
	text-align: center;
}
